.hs{
    width:980px;
    margin:8px;
    background-color:#900918;
}

.hs ul{
    list-style:none;
    margin:0;
    padding:0;	
}

.hs ul li{
    width:320px;
    float:left;
    margin-right:12px;
}

.showcase {
  /* Set it so we could calculate the offsetLeft */
  position: relative;
  height: 200px;
  width: 910px;
  /* Add scroll-bars */
  overflow: auto;
  float:left;
}

.left-arrow{
    width:22px;
    height:200px;
    display:block;
    margin-right:10px;
    float:left;
}

.right-arrow{
    width:22px;
    height:200px;
    display:block;
    margin-left:10px;
    float:left;	
}
