BODY 
	{
		color: white; 
		width: 965px;
		font-size: 10pt;
		border:0; 
		margin:0px auto;padding: 0; font-family: Arial, Verdana, sans-serif;
		background-color: #003366;
		background-image: url("/images/bg_blue.png");
		background-repeat:repeat;
		background-position: left top;
		text-align:center;
	}


#maintbl 
	{
		color: white;
		width: 100%; 
		background-color: #900918; 
		padding: 0px; 
		margin: 0px; 
		border-collapse: collapse;
	}



#menubar 
	{
		font-size: 10pt; 
		background-color: #FFCC00;  
		font-weight: bold; 
		line-height: 30px; 
		margin:0; 
		padding:0; 
		border:1px solid #900918; 
		padding-left: 0px; 
	}

#bottom_menubar 
	{
		font-size: 10pt; 
		background-color: #FFCC00; 
		font-weight:bold; 
		line-height: 30px; 
		margin:0; 
		padding:0;
		border:1px solid #900918;  
		padding-left: 0px;
	}


		
.links 
	{
		padding: 8px;  
		text-decoration: none;
	}

 
.links:link, .links:visited 
	{
		color: black; 
	}


.links:hover 
	{
		color: #dfdfdf; background-color:#900918;
	}



.para1 
	{
		font-size: 9pt; 
		font-family: Verdana, Arial, Helvetica, sans-serif; 
		margin: 0px 0px 0px -10px;
		text-align: justify;
	}


.para1 A 
	{
		color: gold; 
		text-decoration: underline;
	}



.subtitle 
	{
		font-size: 13pt; 
		color: gold;
		margin-bottom: 10px;
		font-variant: small-caps;
		font-weight: bold;
   }


.subtitle1 
	{
		color: gold; 
		font-variant: small-caps;
	}

.subtitle2 
	{
		font-size: 12pt;
		color: gold; 
		font-variant: small-caps; 
		margin-top: 10px;
	}



.float_left
	{
		float:left;
		margin:0 10px 5px 0;
	}
 
TD.colleft 
	{
		width: 70%;
	}


TD.colright 
	{
		width: 30%;
	}


TD.colright IMG 
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 10px;
	}
	


A.tyler 
	{
		color: gold;
	}
	

.dragon-table 
	{
		border:0; 
		padding:0; 
		width:970px;
	}
	

.dragon-table td 
	{
		padding:10px; 
		vertical-align:top;
		color: #dfdfdf;
	}
	

.dragon-table td img 
	{
		width:90px; 
		height:120px;
	}
	

.dragon-table td p 
	{
		margin: 0 0 6px 0;
	}
	

.dragon-table td p span 
	{
		font-weight:bold; color:Yellow;
	}
	

.board-bio 
	{
		font-size: 0.9em;
	}
	

.mpwf-header 
	{
		font-size:20px; 
		color : Red; 
		margin:2px 550px; 
		padding:0;
	}
	

td.para1 
	{ 
		padding-left:8px; 
		vertical-align:top;
	}
	

td#newspaperimage 
	{
		padding:8px;
	}